/*------------------------------------- Element CSS ------------------------------------------*/

body::-webkit-scrollbar {
display: none;
}

body{

	background: rgba(25,12,38,1) url(../image/background2.jpg) no-repeat center center fixed;
	background-size: cover;
	font-family: 'Ubuntu', sans-serif;
}

nav{
	/*background-color: rgba(20,28,58,1);*/
	background-color: rgba(20,28,58,.7);
}

/*------------------------------------- MATERIALIZE MODAL------------------------------------------*/


/*------------------------------------- PRELOADER CSS ------------------------------------------*/

.preloader-wrapper{
 	position: absolute;
 	top:50%;
 	left:50%;
 }
 
 .spinner-blue-only{
 	border-color:gold;
 }

#profile-button{
	position:fixed;
	bottom:10px;
	right:10px;
	color:white;
}


/*------------------------------------- NAVBAR CSS ------------------------------------------*/

.brand-logo{
	margin-left:10px;
	font-family: 'Scope One', serif;
}

.divider{background-color:transparent; margin-left:10px;}

#search{
	background-color:none;
	border:none;
}

#nav-search{margin-left:15px;}

.btn-floating{
	background-color:grey;
}

#nav-profile-btn{display:none}

#res-switch-view-container{line-height:0;}

#res-switch-view{
	margin-left:25px;
	display:none;
}
/*------------------------------------- CONTAINER CSS ------------------------------------------*/

.container{
	width:96%;
	margin:auto;
	opacity:0;
}

.container .row{
	margin-left:0; 
	margin-right:0;
}

/*------------------------------------- WEEK-VIEW CSS ------------------------------------------*/

#week-view{
	text-align:center;
	padding:25px 10px;
	overflow:hidden;
	width:100%;
	display:none;

}

.modal-weekly-weather{width: 20%;}

.card{
	color:white;
	width:12%;
	position:relative;
	display:inline-block;
	text-align:center;
	background-color: rgba(25,12,38,0.9);
	margin:5px;
	/*border:1px solid white;*/
	border-radius:5px 
}


.card .card-content {
	padding:0px;
}

.day{padding:5px; 
	margin:10px 0; 
	width:100%;
	background-color: rgba(255,255,255,.1);
}

.card-title.activator{
	font-size:15px;
	text-align:left;
}

.forecast{
	text-align: center;
	font-size:18px;
}

.cloudImg{margin:10px 0;}

.temp{margin:10px auto;}

.moonPhase{
	margin:20px 0 30px 0;
	width:100px;
	max-width: 90%;
	text-align: center;
	background-color:white;
	border-radius: 49px;
	border: 1px solid white;
}

.expand-event{
	position:absolute;
	bottom:0px;
	right:5px;
	color:white;
}

/*------------------------------------- DAY-VIEW CSS ------------------------------------------*/

/*------------------------------------- MAIN CONTENT CSS ------------------------------------------*/


#main-content{}

.tabs{
	background-color: rgba(255,255,255,1);
	margin:5px 0 0 0;
	overflow:hidden;
}

.tabs .tab a:hover, .tabs .tab a.active{color:maroon;}

.tabs .tab a{color:#cc7070;}

.indicator {
	background-color: maroon  !important;;
}


#tab-content{
	margin:10px 0;
	padding:20px;
	text-align: left;
	background-color: rgba(25,12,38,0.9);
	color:white;
}

/* label underline focus color */

input#search-input:focus,input#news-input:focus,input#event-input:focus {
     border-bottom: .5px solid gold;
     box-shadow: 0 .5px 0 0 gold;
}
/*forecast tab*/
.weather-info-container{
	background-color: rgba(255,255,255,.1);
	margin:20px 0 0 0;
	padding:5px;
}

.score-line {
	padding: 5px;
}

.rating {
	font-weight: bold;
	color: orchid;
}

#star-container{
	display:inline-block;
	line-height:100%;
	margin: 3px 0px 0px 5px;
}

#star-container i {
	color: gold;
	font-size: 1rem;
	vertical-align: text-top;

}

#today-weather{
	text-align: left;
	padding-top:10px;
	padding-bottom:15px;
	border-radius: 0;
}

#day-wind img{
	width:53%;
	margin: 20px auto 5px auto;
}

.windSpeed{margin:0;}

.weather-info{
	margin:5px 0;
}

.additional-info{margin-top:20px;}


/*news tab*/
#tab-news{padding-top:10px;}

#news-input{width:40%; margin:0px;}

.search-icon{font-size:30px;vertical-align: bottom; color:white;}

#news-search-method{
	margin:20px 10px 20px 0px;
}

.view-news{color:teal;}

#news-display{margin:30px auto 0px auto; font-size:12px;}

.news-title{
	font-weight: bold;
    font-size: 15px;
    margin:0 ;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space:nowrap;
}

.news-date,.news-byline{line-height:10px;}

.news-trailText{
	overflow: hidden; 
	text-overflow: ellipsis;
	white-space: nowrap
}


/* event tab*/

.skycons {
	width:100%;
	margin:25px auto 5px auto;
	color:white;
}
.skycons-label{margin:0;}

#day-temperature{
	position:relative;
	font: bold 40px sans-serif;
	margin: 15px auto;
	padding: 0 5px;
	text-align: center;
	border-left: 1px solid grey;
	border-right:1px solid grey;
	line-height: 120px
}

#convert-unit{
 	position: absolute;
	right: 10px;
    font-size: 25px;
    color: grey;
    bottom: 10px;
    margin: 0;
    padding: 0px;
    line-height: 0px;
 }

#tab-events .collapsible-header {
    color: black;
}


#map{
    margin: 0;
    padding: 0;
    height: 400px;
    
}

}    

.cal-btn {
	padding: 0 10px;
}

.cal-btn i {
	margin: 0;

}

/*Constellation Tabs*/

#iframe-container{
	width:550px;
	height:550px;
	overflow: hidden;
	position:relative;
}

/*#iframe{
	position:absolute;
	left: -54%;
    top: -12%;

    width: 1366px; height: 768px; border: 1px solid black;
    -moz-transform: scale(0.85);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.85);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.85);
    -webkit-transform-origin: 0 0;
}*/
 
#constell-display{
	margin:auto;
	margin-top: 30px;
	width:75%;
} 

#constell-parameter{
	padding:0 2%;
}

#constell-img{
	width:100%;
	border-radius:100%;
}

#constell-theme{
	padding:auto 0px;
	margin:30px 0 10px 0;
}

#constell-modal-btn{
	color:teal
}

#constell-modal{
	max-height: 100%;
	width:90%;
	height: 90%;
	overflow:hidden;
}

.modal-display-container::-webkit-scrollbar {
	display: none;
}

.modal-display-container{
	overflow:scroll;
}

#constell-modal-display{
	width: 60%;
    margin: 15px auto;
    vertical-align: middle;
}

.constell-modal-para{
	display:block;
}


/*------------------------------------- SIDE BAR CSS ------------------------------------------*/

#today-events-container{}

.side-bar-sect{font-size:18px;}

#today-events{
	text-align: left;
	padding: 20px 15px 5px 15px;
	border-radius: 0;
}

.apod-img {
	width: 100%;
}

.fine-print {
	font-size: .8rem;
}

.collection-events{
	color:black;
	margin:20px 0;
}

.collection .collection-item{
	background-color: rgba(255,255,255,1);
	color:black;
}

.event-item{
	color:orange;
}

.material-tooltip {
	max-width: 600px;
	text-align: justify;
}

#toast-container {
  top: 12%;
  right: 3.5%;
  bottom: auto !important;
  left: auto !important;  
}

.object-more,.event-more{
	color:maroon;
}


/*------------------------------------- LOGIN CSS ------------------------------------------*/

.g-signin2{
	text-align:center;
}

/* AB changes */
.login{	
	text-align:left;
	width:25%;
	margin-top:30px;
	background-color: rgba(25,12,38,1);
	border: 1px solid black;
	padding: 10px;
}


.auth-icon {
  height: 100%;
	width: 18px;
	margin: 0 5px;
}

.profile-input{
	margin-top:25px;
	color:grey;
}

#login-modal {
	max-height: 90%;
	top: 5%;
}

#login-modal .input-field {
	background-color: rgba(255, 255, 255, 0.5);
}

.login-submit{
	border:1px solid black;
	padding:10px;
	font:bold 25px  'Ubuntu', sans-serif;
	color:white;
	background-color: rgba(192,192,192,.5);
}

.submit-wrapper{
	margin-top:25px;
	box-shadow: 0 0 5px black;
	border:1px solid black;
}

.login-btn {
	width: 100%;
	border:1px solid black;
	color: white;
	background-color: rgba(192,192,192,.5);
}
.login-btn:hover {
	background-color: rgba(192,192,192,1);
	color: black;
}

.waves-effect.waves-blackcurrant .waves-ripple {
	background-color: rgba(25, 12, 38, 0.65) !important;
}

.userpic {
    vertical-align: middle;
    margin: 0 15px;
    width: 40px;
    height: 40px;
}

.profile-btn {
	margin: auto;
}

.profile-btn a {
	padding: 0;
}

.toast {
	display: block;
}

.toast-btn {
	margin: 5px 0 !important;
}

/* To use images as radio buttons */
label > input{ /* HIDE RADIO */
	visibility: hidden; /* Makes input not-clickable */
	position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
	cursor:pointer;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
	box-shadow: 0 0 20px 10px #72c0fd;
}

#update-modal .row {
	margin: 10px 0;
}


#login-modal .input-field {
	background-color: rgba(255, 255, 255, 0.5);
}

.login-submit{
	border:1px solid black;
	padding:10px;
	font:bold 25px  'Ubuntu', sans-serif;
	color:white;
	background-color: rgba(192,192,192,.3);
}

.submit-wrapper{
	margin-top:25px;
	box-shadow: 0 0 5px black;
	border:1px solid black;
}

/*------------------------------------- MEDIA RESPONSE CSS ------------------------------------------*/

@media (max-width: 600px) {
	body{font-size:80%;}
	#login-modal,#logout-modal{width:80%;}
	.preloader-wrapper.big{height:25px;width:25px; left:45%;}
	.divider,#clock,.brand-logo i.material-icons,#switch-view{display:none;}
	.brand-logo{margin:0; font-size:80%;}
	nav .brand-logo{font-size:250%;}

	#search-input,.material-icons.nav-search,.material-icons.refresh,#login,.card .card-image img,img.forecast.moonPhase{display:none;}
	#switch-view{float:left;}
	#profile-button{display:none;}
	.card.week{display:inline-block; width:100%; margin: 5px auto;}

	#nav-profile-button{display: inline; margin:0;padding:0;}
	#res-switch-view{display:inline;}
	/*day-view*/
	#toast-container {	
	  right: 0;
	  bottom: auto !important;
	  left: auto !important;  
	}
	#day-weather{margin:5% 0;}
	#day-temperature{font-size:200%;}
	#day-wind{margin: 5% 0};

	/*event tab*/
	#news-input,#event-input{width:80%;}

	/*Constell tab*/
	#constell-img-size,#constell-modal-btn{display:none;}
 }

 @media (min-width: 600px) and (max-width:992px){
 	.container{width:100%;}
	#day-temperature{font-size:250%;}
	#main-content{margin:0;}
	nav .brand-logo{left:15%;}
	#nav-profile-button{display:none;}
	#clock,.divider{display:none;}
	.card .card-title{font-size:13px;}
	.forecast{font-size:12px;}
	.card.week{display:inline-block;}
	#today-events-container{width:40%;}
	#constell-img-size{display:none;}
	#login-modal,#logout-modal{width:50%;}
 }



