

@media (min-width: 768px) {

	body{
		background-color: rgba(25,12,38,1);
		background-image: url("../image/background2.jpg");
		font-family: 'Ubuntu', sans-serif;
	}
	
	nav{
		/*background-color: rgba(20,28,58,1);*/
		background-color: rgba(20,28,58,.7);
	}
	
	#profile-button{
		position:absolute;
		bottom:10px;
		right:10px;
		color:white;
	}

	#search-input:active{
		border-bottom:white;
	}

	.brand-logo{
		margin-left:10px;
		font-family: 'Scope One', serif;
	}


	#search{
		background-color:none;
		border:none;
	}

	.btn-floating{
		background-color:grey;
	}

	.container{
		width:96%;
	}
	
	.row{margin:0;}

	#eventContainer{
		text-align:center;
		padding:50px 10px;
		overflow:hidden;
		width:100%;
		display:none;
	}


	.card{
		color:white;
		width:13%;
		position:relative;
		display:inline-block;
		text-align:center;
		background-color: rgba(25,12,38,0.7);
		margin:5px;
		border:1px solid black;
		border-radius:10px 
	}
	
	.day{margin:10px;}
	
	.card-title.activator{
		font-size:15px;
		text-align:left;
	}
	
	.forecast{
		text-align: center
	}

	.expand-event{
		position:absolute;
		bottom:0px;
		right:5px;
		color:white;
	}

	#today-weather{
		text-align: left;
		padding-top:20px;
		padding-bottom:40px;
		border-radius: 0;
	}

	#today-events{
		text-align: left;
		padding: 0 20px;
		border-radius: 0;
	}
	#day-weather img{width:125px;}

	#day-temperature{
		font: bold 50px sans-serif;
		margin: 25px auto;
		text-align: center;
		border-left: 1px solid grey;
		border-right:1px solid grey;
		line-height: 100px
	}

	#day-wind img{
		width:125px;
		margin: 20px auto;
	}

	.weather-info{
		margin:5px 0;
	}
	
	.collection-events{
		color:black;
		margin:25px 0;
	}

	/*Login Page*/
	
	.modal-login{
		height:500px;
		overflow:hidden;
	}
	.g-signin2{
		text-align:center;
	}
	.login{
		text-align:left;
		width:25%;
		margin-top:30px;
	}

	.profile-input{
		margin-top:25px;
		color:grey;
	}

	#login-modal .input-field {
		background-color: rgba(255, 255, 255, 0.5);
	}

	.login-submit{
		border:1px solid black;
		padding:10px;
		font:bold 25px  'Ubuntu', sans-serif;
		color:white;
		background-color: rgba(192,192,192,.3);
	}
	
	.submit-wrapper{
		margin-top:25px;
		box-shadow: 0 0 5px black;
		border:1px solid black;
	}


 }
